<div class="mb-3">
  
  <input
    type="text"
    [(ngModel)]="brandText"
    class="form-control"
    id="brandText"
    placeholder="Aranacak marka ismini giriniz."
  />
</div>
<div *ngIf="brandText.length > 1" class="alert alert-primary">
  {{ brandText }} aradınız
</div>

    
<ul class="list-group">
 <div  *ngFor="let brand of brands | brandPipe: brandText"  class="=row">
  <li (click)="setCurrentBrand(brand)"
  routerLink = "/cars/brand/{{brand.brandId}}"
 
  [class]="getCurrentBrandClass(brand)">{{ brand.brandName}}</li> 
    <li><span class="col-md-3"  routerLink="/brand-update/{{ brand.brandId }}" class="badge rounded-pill bg-success">Güncelle</span></li></div></ul>



