<div class="mb-3">
  <label for="brandText" class="form-label">Marka Ara</label>
  <input
    type="text"
    [(ngModel)]="brandText"
    class="form-control"
    id="brandText"
    placeholder="Aranacak marka ismini giriniz."
  />
</div>
<div *ngIf="brandText.length > 1" class="alert alert-primary">
  {{ brandText }} aradınız
</div>

    
<ul class="list-group">
 <div  *ngFor="let brand of brands | brandPipe: brandText"  class="=row">
  <li (click)="setCurrentBrand(brand)"
  routerLink = "/cars/brand/{{brand.brandId}}"
 
  [class]="getCurrentBrandClass(brand)"></li> 
  {{ brand.brandName}}  <li><span class="col-md-3"  routerLink="/brand-update/{{ brand.brandId }}" class="badge rounded-pill bg-success">Güncelle</span></li></div></ul>


<h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz</h5>
