<div class="mb-3">
  <label for="colorText" class="form-label">Renk Ara</label>
  <input
    type="text"
    [(ngModel)]="colorText"
    class="form-control"
    id="colorText"
    placeholder="Aranacak renk ismini giriniz."
  />
</div>
<div *ngIf="colorText.length > 1" class="alert alert-primary">
  {{ colorText }} aradınız
</div>

<ul class="list-group">
<div  *ngFor="let color of colors | colorPipe: colorText"  class="=row">
  
    <li (click)="setCurrentColor(color)"
    routerLink = "/cars/color/{{color.colorId}}"
   
    [class]="getCurrentColorClass(color)">
    {{ color.colorName}} </li>
   <li> <span class="col-md-3"  routerLink="/color-update/{{ color.colorId }}" class="badge rounded-pill bg-danger">Güncelle</span> </li></div>
  </ul>
  
  <h5 *ngIf="currentColor">{{currentColor.colorName}} seçtiniz</h5>